<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="SB-PWA">

    <link rel="apple-touch-icon" href="/icons/icon-192.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/icons/favicon.ico">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script>
        // Register service worker
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/sw.js");
        }
    </script>
</head>
<body class="bg-blue-500">
<header class="bg-white container mx-auto">
</header>
<section class="bg-white container mx-auto">
    <h1 class="text-3xl font-bold mb-4">You're Offline</h1>
    <p>Check your network connection and try again.</p>
</section>
</body>
</html>